@use "./base.scss";

figure.tikz {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center;
    margin: 2rem auto;   /* Adds spacing top/bottom and centers block */
    width: 100%;         /* Container takes full width */

    svg {
        width: 50%;       /* Makes SVG responsive to container */
        height: auto;      /* Maintains aspect ratio */
    }
}
